body {
    background-image: url(/images/bg-cover.png);
}

.cover {
    width: 1300px;
    background: white;
    margin: auto;
    border-radius: 10px;
}

header {
    text-align: center;
    box-shadow: 0px -6px 22px 0px rgb(0 0 0 / 20%);
}

input[type="text"] {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.cari {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

input[type="submit"] {
    height: 36px;
    width: 100px;
    background: #be0a31;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #f11950;
}

.add {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
}

.add a {
    text-decoration: none;
    padding: 10px;
    background: #be0a31;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.add a:hover {
    background: #f11950;
}

hr {
    border: solid 1px;
    border-radius: 3px;
    color: #be0a31;
}

.recent {
    width: 1000px;
    margin: auto;
}

.time {
    margin: 0px;
}

.lampiran {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
}

.info a {
    margin-left: 16px;
    text-decoration: none;
    color: white;
    padding: 7px;
    background: #be0a31;
    border-radius: 5px;
}

.info a:hover {
    background: #f11950;
}

p {
    text-align: justify;
}


a.img-lampiran {
    text-decoration: none;
    color: #be0a31;
}

a.img-lampiran:hover {
    color: #f11950;
}

footer {
    width: 1000px;
    margin: auto;
}

p.copy-right {
    text-align: right;
    font-style: italic;
    margin-top: 50px;
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

td {
    width: 186px;
}

.name-groub label {
    margin-left: 4px;
}
