* {
	font-family: Roboto;
}
.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 25px 0;
}
.col-1 {
	flex-basis: 40%;
	position: relative;
	margin: 50px;
}
.col-1 h2 {
	font-size: 54px;
}
.col-1 h3 {
	font-size: 30px;
	color: #707070;
	font-weight: 100;
	margin: 20px 0 10px;
}
.col-1 p {
	font-size: 16px;
	color: #b7b7b7;
	font-weight: 100px;
}

Header {
	padding: 2rem 1rem;
}

.Header h1 {
	text-align: center;
}
div.box {
	display: flex;
	justify-content: center;
}
.box input[type="text"] {
	width: 100%;
	padding: 20px 20px;
	margin: 10px 0;
}
.box button {
	float: right;
	padding: 20px 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 16px;
	background-color: #59c5ec;
	font-size: 17px;
	border-color: black;
	cursor: pointer;
}
.box button:hover {
	background: #ffd05b;
}
div.buat-laporan-container {
	display: flex;
	justify-content: center;
}
.buat-laporan-container button {
	border: none;
	background-color: white;
	padding: 6px 8px;
	cursor: pointer;
}
div.komentar-body {
	padding-left: 350px;
	padding-right: 350px;
}
div.waktu {
	padding-right: 30px;
}
div.selengkapnya-container {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}
div.selengkapnya-container .row-1 {
	padding-right: 900px;
}

div.selengkapnya-container a {
	color: #b7b7b7;
	text-decoration: none;
}
button.btn {
	width: 140px;
	border: 0;
	padding: 12px 10px;
	outline: none;
	color: #fff;
	background: #59c5ec;
	cursor: pointer;
}
button.btn:hover {
	background: #ffd05b;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.searchImg{
	max-width: 25px;
}

.col-1::after {
	content: "";
	width: 10px;
	height: 57%;
	background: #ffd05b;
	position: absolute;
	left: -40px;
	top: 8px;
}
.col-2 {
	position: relative;
	flex-basis: 20%;
	display: flex;
	align-items: center;
}
.komentar-body {
	padding-top: 50px;
}
.komentar-body h3 {
	text-align: center;
	font-size: 30px;
	color: black;
	font-weight: bold;
}
.laporan-box-container {
	border: 1px solid;
	box-shadow: 5px 10px #888888;
}
.ket-waktu {
	font-size: 12px;
	color: #b7b7b7;
	font-weight: bold;
	margin: 10px 0 5px;
}
.ket-gambar {
	font-size: 12px;
	color: #b7b7b7;
	font-weight: bold;
	margin: 10px 0 5px;
}
.laporan-text h4 {
	font-size: 20px;
	color: black;
	font-weight: 900;
	margin: 10px 0 5px;
}
.laporan-text {
	padding: 5px;
}
.next-back-page-container {
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer p {
	background-color: #ffd05b;
}
.svg-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
}

/*modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: geser;
  -webkit-animation-duration: 0.4s;
  animation-name: geser;
  animation-duration: 0.4s
}

@-webkit-keyframes geser {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes geser {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #59c5ec;
  color: white;
}

.modal-body {
	padding: 2px 16px;
	min-height: 200px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #59c5ec;
  color: white;
}

#btnSubmit{
	margin-right:auto; 
	margin-left:auto; 
	display: block; 
	padding: 10px 15px; 
	margin-bottom:5%;
	cursor: pointer;
}

input#uname1{
	margin-top: 8%; 
	margin-bottom: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	padding: 5px;
}

input#password1{
	margin-bottom: 5px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	padding: 5px;
}
