:root {
	--color1: #c9e4f8;
	--color2: #8496a3;
	--color3: #3f484e;
	--color4: #0099ff;
}

a:link {
	color: var(--color4);
}
a:visited {
	color: var(--color4);
}
a:hover {
	color: var(--color3);
}
div.container {
	background-color: var(--color1);
	margin: auto;
	border-radius: 20px;
	max-width: 70%;
	padding-top: 10px;
}
div ul {
	padding-right: 40px;
}
.buat {
	text-decoration: none;
	color: var(--color3) !important;
	margin-bottom: 50px;
}
.buat:hover {
	color: var(--color2) !important;
}
.card {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
	padding-top: 20px;
	padding-bottom: 40px;
}
.container .lampiran {
	float: left;
}
.container .waktu,
.container .lengkap {
	float: right;
	margin-right: 20px;
}
.container h1 {
	text-align: center;
	font-size: 48px;
	font-family: sans-serif;
}
.content ul {
	list-style-type: none;
}
.text-center {
	text-align: center;
}

#search {
	display: block;
	margin: 0 auto;
	padding: 17px;
	width: 80%;
}
