.container {
    margin: 0px 20px;
    text-align: center;
    align-content: center;
}

.textbox {
    width: 80%;
    height: 30px;
}

.button {
    width: 15%;
    height: 40px;
}

#buat {
    margin: 30px;
}

#Btn_buat {
    color: black;
    text-decoration: none;
    margin: 30px;
}

.judulKecil {
    text-align: left;
    align-self: left;
    border-bottom: 3px solid black;
}

.card-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 3px solid black;
}

.gambar {
    max-width: 200px;
}
.waktu{
    margin-left: 65%;
}
.detail {
    margin-left: 3%;
    margin-top: 15px;
}
